################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/PureCSSVerticalTimeLine/obj/Debug
/PureCSSVerticalTimeLine/bin
