body {
    background: rgba(183,222,237,1);
    background: -moz-linear-gradient(-45deg, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 34%, rgba(183,235,235,1) 65%, rgba(183,235,235,1) 89%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(183,222,237,1)), color-stop(34%, rgba(113,206,239,1)), color-stop(65%, rgba(183,235,235,1)), color-stop(89%, rgba(183,235,235,1)));
    background: -webkit-linear-gradient(-45deg, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 34%, rgba(183,235,235,1) 65%, rgba(183,235,235,1) 89%);
    background: -o-linear-gradient(-45deg, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 34%, rgba(183,235,235,1) 65%, rgba(183,235,235,1) 89%);
    background: -ms-linear-gradient(-45deg, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 34%, rgba(183,235,235,1) 65%, rgba(183,235,235,1) 89%);
    background: linear-gradient(135deg, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 34%, rgba(183,235,235,1) 65%, rgba(183,235,235,1) 89%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7ebeb', GradientType=1 );
}

timeLineContainer {
    height: 120vh;
    font-family: 'Open Sans', sans-serif;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bea2e7+0,86b7e7+100 */
    /*background: url(../img/pw_maze_black_2X.png) left top repeat;*/
}

.timeLineContainer ul {
    list-style: none;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1px 50px;
    color: black;
    font-size: 13px;
    /*margin-top: -120px;*/
    /*border:1px solid red;*/
}

    .timeLineContainer ul:before {
        content: '';
        width: 1px;
        height: 100%;
        position: absolute;
        border-left: 2px dashed #fff;
    }

    .timeLineContainer ul li {
        position: relative;
        margin-left: 30px;
        background-color: rgba(255, 255, 255, 0.3);
        padding: 14px;
        border-radius: 6px;
        width: 400px;
        /*box-shadow: 0 0 4px rgba(0, 0, 0, .12), 0 2px 2px rgba(0, 0, 0, .08);*/
        -webkit-box-shadow: 20px 21px 21px -9px rgba(107,97,107,1);
        -moz-box-shadow: 20px 21px 21px -9px rgba(107,97,107,1);
        box-shadow: 20px 21px 21px -9px rgba(107,97,107,1);
        border-radius: 34px 0px 34px 0px;
        -moz-border-radius: 34px 0px 34px 0px;
        -webkit-border-radius: 34px 0px 34px 0px;
        border: 0px solid #000000;
    }

        .timeLineContainer ul li:not(:first-child) {
            margin-top: 60px;
        }

        .timeLineContainer ul li > span {
            width: 2px;
            height: 100%;
            background: #fff;
            left: -30px;
            top: 0;
            position: absolute;
        }

            .timeLineContainer ul li > span:before, .timeLineContainer ul li > span:after {
                content: '';
                width: 12px;
                height: 12px;
                border-radius: 50%;
                border: 2px solid #fff;
                position: absolute;
                background: #f65113;
                left: -7px;
                top: 0;
            }

        .timeLineContainer ul li span:after {
            top: 100%;
        }

        .timeLineContainer ul li > div {
            margin-left: 10px;
        }

.timeLineContainer div .title {
    font-weight: 600;
    font-size: 15px;
}

.timeLineContainer div .type {
    font-weight: 600;
    font-size: 12px;
}

.timeLineContainer div .info {
    font-weight: 300;
}

.timeLineContainer div > div {
    margin-top: 5px;
}

.timeLineContainer span.number {
    height: 100%;
}

    .timeLineContainer span.number span {
        position: absolute;
        font-size: 12px;
        left: -170px;
        font-weight: bold;
        width: 140px;
        text-align: right;
    }

        .timeLineContainer span.number span:first-child {
            top: 0;
        }

        .timeLineContainer span.number span:last-child {
            top: 100%;
        }
